<div id="<%= dom_id todo %>">
  <div>
    <strong>Description:</strong>
    <%= todo.description %>
  </div>

  <div>
    <strong>Location:</strong>
    <%= todo.location %>
  </div>

  <div>
    <strong>Time:</strong>
    <%= todo.time %>
  </div>

  <div>
    <strong>Status:</strong>
    <%= todo.status %>
  </div>

</div>
